@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif; */
  }

    
   /* Header styling*/
  .header-bg{
    background-color: #00241B !important;
    color: #D9D9D9 !important;
  }
  
  .name-title{
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #D9D9D9;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  }

.portfolio-container{
  background-color: #D9D9D9;
}
  /* Navtabs styling*/
  
.nav-tabs{
font-family: Montserrat, Arial, Helvetica, sans-serif;

}

.nav-item:hover {
background-color: #3C6E71;

}

/* About Me Styling*/

/* Contact Me Styling*/

/* Resume Styling*/

/* Portfolio Styling */

/*Project Component Styling */

/* Footer styling */

  .footer {
    color: #D9D9D9;
    background-color: #00241B;
    text-align: center;
    margin-top: auto;
    padding: 8px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  }

  .social-logos {
    /* display: flex; */
    /* justify-content: space-around; */
  }

.copyright {
  padding-top: 25px;
}
  