* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background-color: whitesmoke;
  }
  
  .header-bg{
    background-color: #61DAFB !important;
    color: azure !important;
  }
  
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  h3 {
    margin: auto;
    color: rgb(66, 171, 231);
    font-size: 20px;
  }
  
  /* Dropdown menu */
  
  /* Dropdown Button */
  .dropbtn {
    background-color: #ec5700;
    border-radius: 4px;
    width: 75px;
    color: white;
    padding: 16px;
    margin: 10px;
    /* font-size: 16px; */
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 215px;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content p:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #5d0cff;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .App {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    background-color: gray;
    text-align: center;
    margin-top: auto;
    padding: 8px;
  }